{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "rules": {
    "linebreak-style": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "max-len": "off"
  }
}