<div class="create">
    <h2>Create TODO</h2>
    <form action="/create" method="post">

        <div class="input-field">
            <label >
                Todo title
                <input type="text" name="title">
            </label>
        </div>
        <button class="btn-create" type="submit">Create</button>
    </form>
</div>